<div class="container-2">
    <h1>Contact</h1>
    <p>
        Donec ullamcorper nulla non metus auctor fringilla. 
      Vestibulum id ligula porta felis euismod semper. 
      Praesent commodo cursus magna, vel scelerisque nisl consectetur. 
      Fusce dapibus, tellus ac cursus commodo.
    </p>
    
    <form action="#" method="post">
    <label for="email">Your Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="message">Your Message:</label>
    <textarea id="message" name="message" rows="6" required></textarea>

    <button type="submit">Submit</button>
  </form>
</div>