<div class="container-2">
    <h1>Porfolio</h1>
    <p>
      Donec ullamcorper nulla non metus auctor fringilla. 
      Vestibulum id ligula porta felis euismod semper. 
      Praesent commodo cursus magna, vel scelerisque nisl consectetur. 
      Fusce dapibus, tellus ac cursus commodo.
    </p>

    <div class="projects">
      <div class="project-card">
        <div class="project-image image1"></div>
        <h3 class="project-title">Project Name</h3>
        <p class="project-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        </p>
      </div>

      <div class="project-card">
        <div class="project-image image2"></div>
        <h3 class="project-title">Project Name</h3>
        <p class="project-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        </p>
      </div>

      <div class="project-card">
        <div class="project-image image3"></div>
        <h3 class="project-title">Project Name</h3>
        <p class="project-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        </p>
      </div>
    </div>
  </div>